
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(251, 251, 232);
}

.homepage {
    text-align: center;
    padding-top: 10em;
}

.logo {
    width: 25%;
}

.header-container {
    position: relative;
    background-color: white;
    top: 0;
}

.header-container-item {
    margin: 0 auto;
    padding: 0 1rem;
}

.header-flex-container {
    display: flex;
    justify-content: center;
    padding: 1.5rem 0;
}

.header-store-name {
    display: flex;
    justify-content: flex-start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header-store-name h1 {
    font-size: 1.25rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header-navbar {
    display: none;
}

.header-navbar > * + * {
    margin-left: 2.5rem;
}

.header-navbar-items {
    position: relative;
    top: 0;
}

.header-navbar-items a {
    font-size: 1rem;
    color: #6b7280;
}

.header-navbar-items a:hover {
    color: #1f2937;
}

/*Small Devices*/
@media (min-width: 640px) {
    .header-container-items {
        padding: 0 1.5rem;
    }
}

/*Medium Devices*/
@media (min-width: 768px) {
    .header-flex-container {
        justify-content: flex-start;
        gap: 2.5rem;
    }

    .header-navbar {
        display: flex;
    }
}

/*Large Devices*/
@media (min-width: 1024px) {
    .header-store-name {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0;
    }
}
